* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 22px;
}

h1 {
    color: green;
}

h5 {
    color: blue;
}

.title {
    background-color: gainsboro;
    color: blueviolet;
    border-radius: 15px;
}